cabecalho{
	background-color: blue;
	color: white;
	text-aligth: center;
}
corpo{
	background-color: yelow;
	color: black;
	text-aligth: center;
}
#bomeio{
	backgroun-color: orange;
	color: white;
	aligth-item: center;	
}
rodape{
	background-color: salmon;
}
#bobaixo{
	backgroun-color: red;
	color: white;
	aligth-item: center;
}