* html body {
	background-color: #303030;
	

	/*margin-top: 0vh;
    margin-right: 0vw;
    margin-bottom: 0vh;
    margin-left: 0vw;*/
    border: 0;
    margin: 0;
    top: 0;
    min-height: 100vh ;
    min-width: 100vw;    
}
.tudopa{
	position: relative;
	min-height: 100vh;
	min-width: 100vw;

}
.cabeca{
	/*padding-top: 0px;*/
	 display:block;
	 position:fixed;
	 top:0;
	 left:0;
	 width:100vw;
	 background: black;
	 text-align:center;
    /*display: inline;*/
    /*width: 50vw;*/
    /*height: 20vh;*/
    /*top:0;
    left: 0;
    bottom:0vh;*/
}
.cnome{
	background-color: black;
	position: block;
	color: white;
    height: 16vh;
    width: 100vw;
    top:0;
    left: 0;
}
#recepcao{
	color: white;
	max-height: 2vh;
	text-align: center;
}
.menu {	
	align-items: center;

	/*background-color: black;
	/*position: block;
	color: white;*/
    

}

#recepcao, .menu{
	text-align: center;*/
}
#bgamb{
	opacity: 100%;
	padding: 0 30vw;
}

#bini, #binst, #bhabil, #bproj, #bcont{
	color: white;
	height: 15px;
	padding: 0 10px;
	


}
#titulo{
	text-align: center;
}
#tabela{
	max-height: 80vh;
	min-width: 80vw;
}
#tabela img{
	max-height: 15vh; 
	max-width: 15vw;
}
.centro{
	/*display: block;*/
	margin-top: 20vh;

	max-height: 60vh;
	text-align: center;

	/*padding-bottom: 30px;*/
}
#inst{
	font-size: 20px;
	text-align: justify;
}
#texbilid{
	font-size: 20px;
	text-align: justify;
}
#qse{
	text-align: center;
	max-width: 100vw;
}
#texto{
	font-size: 20px;
	text-align: left;
	max-width: 100vw;
	height: 40vh;
}
#ulti{
	height: 5vh;
	font-size: 20px;
	color: white;
	background-color:black; 
}
#imgproj{
	width: 23vw;
  height: 25vh;
}
#formul{
	max-height: 150vh;
}
.centropsl{
	margin-top: 20vh;

	min-height: 60vh;
	min-width: 100vw;
	text-align: center;
}
#pps{
	font-size: 40px;
}
#imgppp{
	display: inline;
	width: 20vw;
  height: 20vh;
}
#textppp{
	font-size: 20px;
	display: inline;
	text-align: justify;
}
/*#loo{
	align-items: center;
	max-height: 60vh;
	max-width: 60vw;*/

} 
#troda{
	/*position: absolute;*/

	color: white;
}   
.rodape	{
	position: absolute;
	bottom: 0;
	
	background-color: black;
	text-align: center;
	color:white;
	min-width: 100vw;
 	min-height: 5vh;
 	
	
}

